@font-face {
  font-family: poppins;
  src: url(./fonts/Agbalumo-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.port {
  background: linear-gradient(45deg, rgb(211, 162, 0), rgb(0, 255, 170));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 60px;
}

body {
  color: #ededed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* background: #252839; */
  /* background: url(img/wallpaper.svg); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
/* nabarcss */
.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  display: inline-block;
  font-size: 25px;

  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #0ef;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  /* background: url(img/wallpaper.svg) no-repeat; */
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  color: white;
  padding: 70px 10% 0;
}

.text {
  position: relative;
  font-size: 10vh;
  -webkit-text-stroke: 0.1vw;
}
.text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* color: #0ef; */
  background: linear-gradient(45deg, rgb(211, 162, 0), rgb(0, 255, 170));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0vw;
  border-right: 2px solid #0ef;
  overflow: hidden;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 105%;
  }
}
/* .text {
  background: linear-gradient(45deg, #0ef, rgb(0, 255, 170));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 60px;
} */
